<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Health Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indicators.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculators.css') }}">
</head>
<body>
    <header>
        <h1>Health Tracker</h1>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="post" action="/login" class="login-form">
            <h1>Вхід</h1>
            <div class="form-group">
                <input type="email" name="email" placeholder="Введіть вашу електронну пошту" required>
                {% if error_email %}
                    <p class="error-message">{{ error_email }}</p>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Введіть ваш пароль" required>
                {% if error_password %}
                    <p class="error-message">{{ error_password }}</p>
                {% endif %}
            </div>
            <button type="submit" class="login-button">Увійти</button>
            <p class="register-link"><a href="{{ url_for('register') }}">Немає акаунта? Зареєструватися</a></p>
        </form>
    </main>
</body>
</html>