<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - Health Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indicators.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculators.css') }}">
</head>
<body>
    <header>
        <h1>Health Tracker</h1>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="post" action="/register" class="register-form">
            <h1>Реєстрація</h1>
            <div class="form-group">
                <input type="text" name="username" placeholder="Введіть ваше ім'я користувача" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Введіть вашу електронну пошту" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Введіть ваш пароль" required>
            </div>
            <button type="submit" class="register-button">Зареєструватися</button>
            <p class="login-link"><a href="{{ url_for('login') }}">Вже маєте акаунт? Увійти</a></p>
        </form>
    </main>
</body>
</html>